bin
res/CraftBukkit/server.log*
res/CraftBukkit/world*
res/CraftBukkit/plugins/HelloWorld.jar
res/CraftBukkit/plugins/Spout/CRCCache.txt
res/CraftBukkit/plugins/Spout/itemMap.txt
.checkstyle
res/CraftBukkit/lastgnome_*
res/CraftBukkit/plugins/HelloEditor.jar
